	<section id="fh5co-services" data-section="blockchain">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border ">BlOCKCHAIN</h2>
					<div class="row">
						<div class="col-md-8 subtext ">
							<h3>Áreas de aplicación y casos de uso de la tecnología de cadena de bloques</h3>
              </div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.services.item }}
				<div class="col-md-6 col-sm-6 fh5co-service ">
					<i class="icon {{ .icon | markdownify }}"></i>
					<h3>{{ .title | markdownify }}</h3>
					<p>{{ .description | markdownify }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
		</div>
	</section>
