	<section id="fh5co-contact" data-section="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext ">
							<h3>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-md ">
        <div class="col-md-10 col-md-offset-1">
					<h3>{{ with .Site.Params.contact.form }}{{ . | markdownify }}{{ end }}</h3>

          <form method="post" action="//formspree.io/info@blockchaincr.com">
					<div class="form-group ">
						{{ with .Site.Params.contact.name }}
						<label for="name" class="sr-only">{{ . | markdownify }}</label>
						<input required id="name" class="form-control" name="name" placeholder="{{ . }}" type="text">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.email }}
						<label for="email" class="sr-only">{{ . | markdownify }}</label>
						<input required id="email" class="form-control" name="_replyto" placeholder="{{ . }}" type="email">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.phone }}
						<label for="phone" class="sr-only">{{ . | markdownify }}</label>
						<input required id="phone" class="form-control" name="phone" placeholder="{{ . }}" type="text">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.message }}
						<label for="message" class="sr-only">{{ . | markdownify }}</label>
						<textarea required id="message" cols="30" rows="5" class="form-control" name="message" placeholder="{{ . }}"></textarea>
						{{ end }}
					</div>
					<div class="form-group" style="text-align:center;">
						<input class="btn btn-primary btn-lg" value="{{ .Site.Params.contact.button | markdownify }}" type="submit">
					</div>
					</form>
        </div>
			</div>
		</div>
	</section>
