	<footer id="footer" role="contentinfo">
		<!-- <a href="#" class="external" target="_blank" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a> -->
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
					<!-- 	<li><a href="https://github.com/BlockchainCR" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></li> -->
						<li><a href="https://twitter.com/BlockchainCR" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://facebook.com/BlockchainCostaRica" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://medium.com/BlockchainCR" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-medium"></i></a></li>
            <li><a href="https://slack.blockchaincr.com" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-slack"></i></a></li>
            <li><a href="https://t.me/joinchat/FkKtxw6g-bECLt3FR7ZPdA" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-telegram"></i></a></li>
						<li><a href="https://meetup.blockchaincr.com" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-meetup"></i></a></li>
						<li><a href=" https://www.linkedin.com/company/25049759/" class="external" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
						<!-- <li><a href="#" class="external" target="_blank" ><i class="icon-youtube"></i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</footer>
