	<footer id="footer" role="contentinfo">
		<!-- <a href="#" class="external" target="_blank" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a> -->
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://github.com/BlockchainCR" class="external" target="_blank" ><i class="icon-github"></i></a></li>
						<li><a href="https://twitter.com/BlockchainCR" class="external" target="_blank" ><i class="icon-twitter"></i></a></li>
						<li><a href="https://facebook.com/BlockchainCostaRica" class="external" target="_blank" ><i class="icon-facebook"></i></a></li>
						<li><a href="https://medium.com/BlockchainCR" class="external" target="_blank" ><i class="icon-medium"></i></a></li>
						<li><a href="https://slack.blockchaincr.com" class="external" target="_blank" ><i class="icon-slack"></i></a></li>
						<!-- <li><a href="#" class="external" target="_blank" ><i class="icon-youtube"></i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</footer>
