	<section id="fh5co-home" data-section="home" style="background-image: url(img/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
    <div id="particles" class="gradient" style="background: transparent;z-index: 10;"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row" style="margin-top:-100px;">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate"><img style="max-width:90%" src="/img/blockchain-costa-rica.png" alt=""></h1>
							<h2 class="to-animate">dedicados al estudio e implementación de la tecnología blockchain en sus diferentes áreas de aplicación.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
