	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="fh5co-block" style="background-image: url(img/img_7.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon fa fa-suitcase"></i>
						<h2>Investigación</h2>
						<p>Enfocados en el desarrollado de capacidades estratégicas y de implementación necesarias para ayudar a las instituciones y empresas a aprovechar esta tecnología transformadora.</p>
						<p><a  data-nav-section="contact" class="btn btn-primary scroll-link">Contáctanos</a></p>
					</div>
				</div>

        <div class="fh5co-block" style="background-image: url(img/img_8.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon fa fa-cubes"></i>
						<h2>Capacitación</h2>
						<p>Talleres y cursos de formación que te permitirán explorar los próximos retos y oportunidades que ofrecen las tecnologías de bloques y su impacto en el orden social, económico y político actual.</p>
						<p><a target="_blank" href="http://eepurl.com/c2i8Xz" class="btn btn-primary">Me interesa</a></p>
					</div>
				</div>

        <div class="fh5co-block" style="background-image: url(img/img_10.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon fa fa-users"></i>
						<h2>Eventos</h2>
						<p>Eventos de networking abiertos enfocados en la tecnología blockchain y divisas digitales para discutir las últimas noticias, desarrollos y tendencias dentro de la industria.</p>
						<p><a target="_blank" href="https://meetup.com/BlockchainCR" class="btn btn-primary">Únete</a></p>
					</div>
				</div>

			</div>

			<div class="watch-video text-center col-md-8 col-md-offset-2">
				<!-- <span>{{ with .Site.Params.intro.video }}{{ . }}{{ end }}</span> -->
				<span>Qué es Blockchain?</span>
        <div class="video-wrapper ">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TtNPF1gCiXk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- <a href="https://www.youtube.com/watch?v=TtNPF1gCiXk&rel=0" class="popup-vimeo btn-video"><i class="icon-play2"></i></a> -->
			</div>
		</div>
	</section>
