	<section id="fh5co-counters" style="background-image: url(img/{{ .Site.Params.counters.background }});" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2>Subscríbete a Blockchain Costa Rica</h2>
				</div>
			</div>
			<div class="row" style="z-index: 444; background:transparent; position:relative; display:block; opacity:.8;">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{ clear:left; text-align: center;}
        	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//blockchaincr.us16.list-manage.com/subscribe/post?u=a0180234200392906cbce4d85&amp;id=1900735983" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" style="text-align:center;">

        	<input style="margin: 0 auto; width: 90%; max-width: 500px;"type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a0180234200392906cbce4d85_1900735983" tabindex="-1" value=""></div>
            <div class="clear">
              <input style="margin: 20px auto;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
			</div>
		</div>
	</section>
