		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<!-- <h2 class="to-animate">Partners</h2> -->
					<div class="row" style="padding-top:40px;">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Con el apoyo de</h3>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align:center;">
        <div class="col-xs-6 col-sm-4 col-md-4 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/lead-logo.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/minerva-logo.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/microsoft-logo.png" alt="">
        </div>
        <!-- <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate" style="min-height:100px;">
          <img class="partner-logo" src="/img/partners/UCCAEP-logo.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/abc-logo.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/UAM-logo.png" alt="">
        </div> -->
        <!-- <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/intel-logo.png" alt="">
        </div> -->
        <!-- <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/CCPA-logo.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/cacia-logo.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/acobo-logo.png" alt="">
        </div> -->
        <!-- <div class="col-xs-6 col-sm-4 col-md-2 partner-logo-wrapper to-animate">
          <img class="partner-logo" src="/img/partners/ulatina-logo.png" alt="">
        </div> -->
			</div>
		</div>
