	<section id="fh5co-about" data-section="proposito">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Propósito</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Convertir Costa Rica en un país líder en el uso tecnologías de cadena de bloques y libro mayor distribuído.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
<p>Proin dapibus ipsum vitae augue volutpat, in aliquam est pellentesque. Vestibulum eget ligula in massa mattis vestibulum et vitae ipsum. Etiam a mi vitae elit viverra sodales. Aliquam interdum mi eu pellentesque lacinia. Suspendisse erat diam, facilisis id tincidunt et, vestibulum in enim. Quisque vel tellus lectus. Fusce bibendum ex eu vestibulum tempor.
</p>
			</div>
		</div>

    {{ partial "partners.html" .}}
	</section>
