	<section id="fh5co-about" data-section="proposito">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Proposito</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Nuestro proposito y como pensamos lograrlo</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
        <p>Convertir Costa Rica en un país líder en el uso tecnologías de cadena de bloques y libro mayor distribuido.</p>

<p> Mauris iaculis orci a tortor eleifend, ac volutpat lorem lobortis. Suspendisse eu accumsan justo. In pulvinar non neque nec faucibus. Cras aliquam lacus dui, nec tristique lorem convallis imperdiet. Sed pharetra sodales purus, sed luctus nisl venenatis et. Nunc quis consectetur orci, eu consequat ex. Sed laoreet blandit accumsan. Nunc blandit fringilla libero, non luctus felis eleifend eget. Donec faucibus quis velit eu sollicitudin. Aenean sagittis eros vitae nunc feugiat, eget lacinia sem lacinia. In at leo ut augue dignissim mattis. Donec quis interdum eros, non aliquam nibh. Morbi et accumsan diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>

<p>Proin dapibus ipsum vitae augue volutpat, in aliquam est pellentesque. Vestibulum eget ligula in massa mattis vestibulum et vitae ipsum. Etiam a mi vitae elit viverra sodales. Aliquam interdum mi eu pellentesque lacinia. Suspendisse erat diam, facilisis id tincidunt et, vestibulum in enim. Quisque vel tellus lectus. Fusce bibendum ex eu vestibulum tempor.
</p>
			</div>
		</div>
	</section>
