	<section id="fh5co-about" data-section="proposito">
		<div class="container">
			<div class="">
				<div class="col-md-12 section-heading text-center">
					<h2 class="">Propósito</h2>
					<div class="">
						<div class="col-md-8 col-md-offset-2 subtext">
							<h3>Convertir Costa Rica en un país líder en el uso tecnologías de cadena de bloques, redes descentralizadas y libro mayor distribuído.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="">
<p>Mediante la formación de una comunidad de desarrollo de soluciones utilizando la tecnología Blockchain en todas sus áreas de aplicación que reúne innovadores, empresarios, ingenieros, programadores, emprendedores, consultores, educadores, inversionistas, gobierno y cualquier persona curiosa acerca de esta tecnología.</p>

<p>Los meetups, cursos, talleres, hackathons y otros eventos que realizemos serán de la más alta calidad, invitando expertos, mentores y desarollando soluciones reales sobre blockchain. No es el típico discurso de innovación que al final termina en nada concreto; vamos a hacer!</p>

<p>También es un espacio abierto para todos aquellos que ya están trabajando con sobre blockchain para que puedan mostrar a la comunidad sus proyectos, compartir lecciones aprendidas y mediante la colaboración convertirnos en un país líder.</p>
			</div>
		</div>

    {{ partial "partners.html" .}}
	</section>
